body {
    padding: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./image.png);
}

.wrapper {
    width: 90%;
    margin: 0% 3% 0 3%;
    height: 1000px;
    opacity: 0.8;
}

legend {
    padding: 15px;
    color: rgb(17, 10, 10);
    font-weight: bolder;
    font-size: 20px;
}

input {
    width: 80%;
    height: 20px;
    margin-bottom: 5%;
}

.profilePictureContainer {
    float: right;
    margin: 5% 0 10% 50%;
    margin-top: 20px;
}

.personalDetailsContainer {
    margin: 0% 5% 10% 10%;
    height: 40px;
    width: 30%;
}

.guardianDetailsContainer {
    float: right;
    margin-right: 10%;
    width: 30%;
}

fieldset {
    font-weight: bolder;
    font-size: 17px;
}

.buttonsContainer {
    float: left;
    margin: 10% 0 0 25%;
    width: 50%;
    height: 10px;
    text-align: center;
}

input#modify {
    float: right;
    width: 40%;
    height: 30px;
    margin-right: 40px;
    margin-top: 30px;
}

input#save {
    float: left;
    width: 40%;
    height: 30px;
    margin-left: 5%;
    margin-top: 30px;
}

input.ale {
    width: 6%;
}

img {
    width: 90px;
    height: 90px;
}

div.saving {
    margin-top: 53%;
    height: 70px;
    width: 15%;
    float: left;
    margin-left: 10%;
}